body
{   
    background-image: url('darkwood.jpg');
    background-size:cover;
}

div {
    width: 200px;
    height: 200px;
    position: absolute;
    top:0;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto;
    font-family: "helvetica";
    font-size: 22px;
    color: #B43004;
}